*.py~
*.pyc
*~
*.log
*.pid
*.fuse*
/files
/settings.py
/.idea
/django
/lib/django
/static
/zfcgi
/projectFilesBackup
*.sqlite
*.sqlite3
.DS_Store
/.idea
/venv
/srv_web/graph_dbs/data
/srv_web/static
/srv_web/media
/srv_web/main/settings.py
