<input type="text" id="autocomplete_{{ name }}" value="{{ title }}" placeholder="Select entity..."/>
<input type="hidden" name="{{ name }}_cid" id="{{ name }}_cid" value="{{ cid }}"/>
<input type="hidden" name="{{ name }}_id" id="{{ name }}_id" value="{{ id }}"/>

<style>
    .ui-autocomplete-loading {
        background: white url('{{ STATIC_URL }}jquery_ui/css/smoothness/images/animated-overlay.gif') right center no-repeat;
    }
</style>


<script>
    $(function () {

        var items = [];
        var autocomplete_id = "autocomplete_{{ name }}"
        var name = "{{ name }}"
        $("#" + autocomplete_id).autocomplete({
            source: "{% url widget-entity-id-ajax %}?filter_func_id={{ unique_str }}",
            focus: function (event, ui) {
                return false;
            },
            select: function (event, ui) {
                $("#" + autocomplete_id).val(ui.item.title);
                $("#" + name + "_cid").val(ui.item.cid);
                $("#" + name + "_id").val(ui.item.id);
                //alert($( "#" + name + "_cid" ).val() + " --- " + ui.item.cid + ", " + ui.item.id);
                {%
                    if submit_form_on_select %}
                    //alert("Submitting...")
                    $("#" + autocomplete_id).parents('form').submit();
                    {%
                        endif %
                    }
                    return false;
                }
                ,
                minLength: 1,
                        delay
                :
                500
            }).data("ui-autocomplete")._renderItem = function (ul, item) {
            return $("<li>")
                    .append("<a><font size='1'><span style='background-color: yellow; padding:2px; border: 1px gray solid;'><b>" + item.class_name + "</b></span></font><font size='2'> <b>" + item.title + "</b> " + item.description + "</font></a>")
                    .appendTo(ul);
        };
    });
</script>