.messages {
    text-align: center;
}

.success {
    color: green;
    background-color: #d2fad2;
    padding: 3px 0px;
    position: absolute;
    top: 5px;
    left:10%;
    width: 80%;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
    border: 1px solid #b5e6b5;
}

.error {
    color: maroon;
}

.errorlist {
    color: maroon;
}

table tr:hover {
    background-color: #f2fbff;
}

#body_content{
    left:15%;
    width: 64%;
    position:relative;
    background-color: #fafcff;
    padding: 10px 3%;
    border-radius: 5px 5px;
    -moz-border-radius: 5px 5px;
    -webkit-border-radius: 5px 5px;
    border: 1px solid rgba(128, 193, 255, 0.47);
}