{% extends "base.html" %}
{% load i18n %}

{% block head %}
    <title>{% trans "Types connector" %}</title>
{% endblock head %}


{% block content %}
<h1>Types connector</h1>
Awailable connections:
<form method="POST" action="{% url nsls-types-connector-add %}">
{% csrf_token %}
    <table style="width:100%;">
        <thead>
        <tr>
            <th>Title</th>
            <th>From</th>
            <th>To</th>
            <th>Actions</th>
        </tr>
        </thead>
        {% for conn_type in connection_types %}
        <tr>
            <td>{{ conn_type.getTitle }}</td>
            <td style="text-align: center;">{{ conn_type.getNeighboursFrom.0.getTitle }}</td>
            <td style="text-align: center;">{{ conn_type.getNeighboursTo.0.getTitle }}</td>
            <td style="text-align: center;">
                <a href="{% url nsls-types-connector-edit conn_type.cid conn_type.id%}">Edit</a> |
                <a href="{% url nsls-types-connector-delete conn_type.cid conn_type.id%}">Delete</a>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td><input type="text" name="title" value="" placeholder="Title"></td>
            <td style="text-align: center;">{{ from_widget }}</td>
            <td style="text-align: center;">{{ to_widget }}</td>
            <td style="text-align: center;"><input type="submit" value="Add"></td>
        </tr>
    </table>
</form>


{% endblock content %}
