{% extends "base.html" %}
{% load i18n %}

{% block head %}
    <title>{% trans "Import configuration files" %}</title>
{% endblock head %}


{% block content %}
		<!-- List of uploaded documents -->
        <h3>Blk files of the system:</h3>
        <form method="POST" action="{% url cxv2-tools-list %}">
            {% csrf_token %}
            <table style="width:100%;">
		        {% if documents %}
			        {% for document in documents %}
				        <tr>
                            <td style="text-align: left;">
                                <input type='checkbox' name='check_{{document.docfile.name}}'>
                                <a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a>
                                <a href='{% url cxv2-tools-delete document.id %}'>Delete</a>
                            </td>
                        </tr>
			        {% endfor %}
		        {% else %}
			        <p>No documents.</p>
		        {% endif %}
                <tr>
                    <td style="text-align: center;">
                        <input type="hidden" name="value" value="Import">
                        <input type="submit" value="Import">
                    </td>
                </tr>
            </table>
        </form>

		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url cxv2-tools-save %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}
s			<p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>
			<p>
				{{ form.docfile.errors }}
				{{ form.docfile }}
			</p>
			<p><input type="submit" value="Upload" /></p>
		</form>



{% endblock content %}
